<cart-summary>
    <!-- section of cart-->
</cart-summary>
<div class="columns">
    <div class="column is-half">
        <ul class="menu-list">
            <li><a (click)="changeCategory()">Home</a></li>
            <li *ngFor="let cat of categories"><a [class.is-active]="cat == selectedCategory" (click)="changeCategory(cat)">{{ cat }}</a></li>
        </ul>
    </div>
    <div class="column is-half">
        <div *ngFor="let product of products" class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                        <i class="fa fa-gift" aria-hidden="true"></i>
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <h4><strong>{{ product.name }}</strong></h4>
                        <p>{{ product.description }}</p>
                    </div>
                </div>
                <div class="media-right">
                    <figure class="image">
                        <span class="tag is-primary">{{ product.price | currency:"USD":true:"2.2-2" }}</span>
                    </figure>
                    <br>
                    <nav class="level is-mobile">
                        <div class="level-right">
                            <button class="button is-danger is-outlined" (click)="addProductToCart(product)">
                            Add to Cart
                        </button>
                        </div>
                    </nav>
                </div>
            </article>
        </div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <span class="select">
            <select [value]="productsPerPage" (change)="changePageSize($event.target.value)">
                <option value="3">3 per Page</option>
                <option value="4">4 per Page</option>
                <option value="6">6 per Page</option>
                <option value="8">8 per Page</option>
            </select>
        </span>
    </div>
    <div class="column">
        <nav class="pagination is-centered">
            <ul class="pagination-list">
                <li *counter="let page of pageCount">
                    <a class="pagination-link" (click)="changePage(page)" [class.is-active]="page == selectedPage">{{ page }}</a>
                </li>
            </ul>
        </nav>
    </div>
</div>